/* .button button{
  width: 200px;
  color: black;
  background-color: #fff;
}
h1{
  border: 1px solid gray;
  padding: 5px;
  display: inline-block;
  width: 400px;
  margin-top: 1px;
  margin-bottom: 1px;
} */
.number{
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
}
/* .images{
  width: 900px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}